.video-details-card {
    
}

.video-details-card__image {
    height: 200px;
    text-align: center;
}

.video-details-card__artist {
    text-align: center;
}

.video-details-card__title {
    text-align: center;
}

@media screen and (max-width: 1024px){

    .video-details-card {
        min-width: 234px !important;
        margin: 5px !important;
    }
    
    
}

@media screen and (max-width: 768px){

    .video-details-card {
        min-width: 230px !important;
        margin: 5px !important;
    }
    
}

@media screen and (max-width: 540px){

    .video-details-card {
        min-width: 244px !important;
        margin: 5px !important;
    }

}

@media screen and (max-width: 430px){

    .video-details-card {
        min-width: 380px !important;
        display: flex;
        flex-direction: row;
        height: 100px;
    }
    .video-details-card__image {
        width:100px !important;
        height: 100px !important;
    }
    .video-details-card__artist {
        font-size: 16px !important;
        word-wrap: break-all !important;
    }
    .video-details-card__title {
        font-size: 12px !important;
        word-wrap: break-all !important;
    }
    .video-details-card__artist, .video-details-card__title {
        text-align: start;
    }
    
}

@media screen and (max-width: 380px){

    .video-details-card {
        min-width: 330px !important;
    }
    .video-details-card__artist, .video-details-card__title {
        text-align: start;
    }
    
}

@media screen and (max-width: 360px){

    .video-details-card {
        min-width: 320px !important;
    }
    .video-details-card__artist, .video-details-card__title {
        text-align: start;
    }
    
}

@media screen and (max-width: 320px){

    .video-details-card {
        min-width: 280px !important;
    }
    .video-details-card__artist, .video-details-card__title {
        text-align: start;
    }
    
}

@media screen and (max-width: 280px){

    .video-details-card {
        min-width: 240px !important;
    }

    .video-details-card__artist {
        text-align: start;
    }
    
    .video-details-card__title {
        text-align: start;
    }
    
}